body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
    h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
    em,i{font-style: normal;}
    b,strong{font-weight:100;}
    ul,ol,li{list-style: none;}
    a,u{text-decoration: none;}
	// a:hover{text-decoration:underline;}
    img{border: none;}
    table{border-collapse: collapse;}
    textarea{resize: none;overflow:auto;}
    .clearfix{zoom:1;}
    .clearfix:after{content: ".";display: block;clear:both; height: 0;overflow:hidden;visibility: hidden;}



